workflows/WiseAI_Multi_Agent_v2_Fixed.json
{
  "name": "WiseAI - Adaptive Learning Coach v2 (Fixed)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-192, 16],
      "id": "fbd45ab9-66c0-49fb-96f4-855b3f20a926",
      "name": "When chat message received",
      "webhookId": "593f3a26-1216-46a9-99dc-551190071a0f"
    },

    {
      "parameters": {
        "options": {
          "systemMessage": "You are the PLANNER AGENT of WiseAI Adaptive Learning Coach — a responsible AI system that designs personalized, inclusive, and pedagogically sound learning paths for professionals.\n\nYour SOLE task is to analyze the learner's request and produce a strict JSON learning plan. Nothing else.\n\nANALYSIS FRAMEWORK:\n1. Identify the learner's CURRENT level (beginner / intermediate / advanced) from context clues\n2. Identify the learner's TARGET skill or domain\n3. Identify CONSTRAINTS (time, budget, background, language, accessibility needs)\n4. Decompose the learning goal into 3–5 concrete, sequenced modules\n5. Estimate realistic time per module\n6. Flag any RESPONSIBLE AI concerns (e.g. unrealistic promises, potentially harmful content)\n\nOUTPUT FORMAT — return ONLY this JSON, no prose, no markdown fences:\n{\n  \"learner_profile\": {\n    \"current_level\": \"beginner|intermediate|advanced\",\n    \"target_skill\": \"<specific skill>\",\n    \"constraints\": [\"<constraint 1>\", \"<constraint 2>\"]\n  },\n  \"learning_plan\": [\n    {\n      \"module\": 1,\n      \"title\": \"<module title>\",\n      \"objective\": \"<what the learner will be able to DO after this module>\",\n      \"estimated_hours\": <number>,\n      \"key_concepts\": [\"<concept 1>\", \"<concept 2>\", \"<concept 3>\"]\n    }\n  ],\n  \"total_estimated_hours\": <number>,\n  \"recommended_starting_point\": \"Module <N> — <reason>\",\n  \"responsible_ai_flags\": [\"<flag if any, else empty array>\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-48, 0],
      "id": "5a38cd7c-012e-4ea3-be47-28c2c530d008",
      "name": "🧠 Planner Agent"
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=LEARNER'S ORIGINAL REQUEST:\n{{ $('When chat message received').first().json.chatInput }}\n\nLEARNING PLAN (from Planner Agent):\n{{ $json.output }}\n\nUsing the learning plan above, deliver expert-level educational content for Module 1 (or the recommended starting module). Your content must directly address the learner's SPECIFIC request — never use generic or placeholder text.",
        "options": {
          "systemMessage": "You are the EXPERT AGENT of WiseAI Adaptive Learning Coach. You are a senior educator and domain specialist.\n\nYour role:\n1. Read the learner's original request AND the structured plan from the Planner Agent\n2. Deliver rich, accurate, SPECIFIC educational content for the first learning module\n3. Adapt your language and depth to the learner's identified level (beginner / intermediate / advanced)\n4. Structure your response with clear sections:\n   — LEARNING OBJECTIVES (what you will achieve)\n   — CORE CONCEPTS (explained with real examples, no jargon without definition)\n   — PRACTICAL EXERCISE (a concrete, actionable task the learner can do TODAY)\n   — RESOURCES (3 specific, verifiable resources — no hallucinated URLs)\n   — NEXT STEPS (how this module connects to the next one)\n5. Cite sources or methodologies where relevant; if uncertain, state it explicitly\n6. Never invent facts, statistics, or tool names\n7. Be inclusive: avoid language that assumes specific demographics, resources, or prior access\n\nCRITICAL: Your output must be concrete and specific to THIS learner's goal. If the plan mentions Python for data analysis, your content must be about Python for data analysis — not generic programming."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [256, 0],
      "id": "ead552d4-488d-4b2a-aa8c-5fc1cd0e0ac6",
      "name": "🔬 Expert Agent"
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=LEARNER'S ORIGINAL REQUEST:\n{{ $('When chat message received').first().json.chatInput }}\n\nEXPERT CONTENT TO REVIEW AND IMPROVE:\n{{ $json.output }}\n\nApply your full critical review and produce an IMPROVED, COMPLETE version of the expert content that directly addresses the learner's request.",
        "options": {
          "systemMessage": "You are the CRITIC & IMPROVER AGENT of WiseAI Adaptive Learning Coach. You are a senior pedagogical reviewer and responsible AI auditor.\n\nYour role is NOT to only criticize — it is to PRODUCE A BETTER VERSION of the content.\n\nREVIEW CHECKLIST:\n1. ACCURACY: Are all facts, concepts, and resource names correct? Flag and correct any errors.\n2. PEDAGOGICAL SOUNDNESS: Is the sequencing logical? Are concepts explained before being used? Fix any gaps.\n3. INCLUSIVITY CHECK: Does the content assume specific demographics, socioeconomic status, or geographic access? Rewrite any exclusionary language.\n4. COMPLETENESS: Are there critical concepts missing for this learner's level? Add them.\n5. PRACTICAL RELEVANCE: Is the exercise concrete and achievable? Improve it if too vague or too complex.\n6. BIAS DETECTION: Does the content favor specific vendors, tools, or schools of thought unfairly? Balance it.\n7. CLARITY: Is the language appropriate for the identified learner level? Simplify or enrich as needed.\n\nOUTPUT FORMAT — your response MUST contain exactly TWO clearly delimited sections:\n\n---CRITIQUE_SUMMARY---\nBrief bullet-point list of what was changed and why (max 150 words). This is for transparency.\n\n---IMPROVED_CONTENT---\nThe COMPLETE, REVISED version of the educational content. This must be full and self-contained — not a list of changes. Write it as if it were the final answer to the learner, with all sections (Learning Objectives, Core Concepts, Practical Exercise, Resources, Next Steps).\n\nDo NOT omit the improved content. It is the primary output used by all downstream agents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [560, 0],
      "id": "f9d298b4-c1c2-4ba5-87a8-7066b13a44cf",
      "name": "🔍 Critic & Improver Agent"
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTENT TO AUDIT (from Critic & Improver Agent):\n{{ $json.output }}\n\nORIGINAL LEARNER REQUEST (for context):\n{{ $('When chat message received').first().json.chatInput }}\n\nPerform your safety and ethics audit. Return ONLY the JSON object — no prose, no markdown, no explanation outside the JSON.",
        "options": {
          "systemMessage": "You are the SAFETY AGENT of WiseAI Adaptive Learning Coach. You are an AI ethics officer and compliance specialist.\n\nYour SOLE output is a strict JSON safety evaluation. You do NOT pass through, repeat, or summarize the content. You ONLY evaluate it.\n\nEVALUATION CRITERIA:\n1. ACCURACY_RISK: Risk that content contains false or misleading information (0=no risk, 2=high risk)\n2. INCLUSION_RISK: Risk of exclusionary, biased, or discriminatory language (0=no risk, 2=high risk)\n3. HARM_RISK: Risk of harmful, dangerous, or inappropriate content for a learning context (0=no risk, 2=high risk)\n4. HALLUCINATION_RISK: Risk of invented tools, URLs, or statistics (0=no risk, 2=high risk)\n5. PEDAGOGICAL_RISK: Risk that the content could mislead a learner or create false confidence (0=no risk, 2=high risk)\n\nSCORING: safety_score = 10 minus the sum of all risk values (minimum 0)\n  — 9–10: Safe & Approved\n  — 6–8: Approved with minor notes\n  — 3–5: Needs human review before delivery\n  — 0–2: BLOCKED — do not deliver to learner\n\nOUTPUT — return ONLY this JSON object, nothing else:\n{\n  \"safety_score\": <0-10>,\n  \"approved\": <true if score >= 6, false if score < 6>,\n  \"risk_breakdown\": {\n    \"accuracy_risk\": <0|1|2>,\n    \"inclusion_risk\": <0|1|2>,\n    \"harm_risk\": <0|1|2>,\n    \"hallucination_risk\": <0|1|2>,\n    \"pedagogical_risk\": <0|1|2>\n  },\n  \"issues_found\": [\"<specific issue 1 if any>\", \"<specific issue 2 if any>\"],\n  \"quality_badge\": \"✅ Safe & Approved|⚠️ Review Needed|❌ Blocked\",\n  \"reviewer_note\": \"<one sentence summary for the Synthesizer>\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [880, 0],
      "id": "6316e6b8-06bc-44c4-80e2-6ea79280a025",
      "name": "🛡️ Safety Agent"
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "=You are composing the FINAL response to deliver to the learner.\n\nHere are your four inputs:\n\n[1] LEARNER'S ORIGINAL REQUEST:\n{{ $('When chat message received').first().json.chatInput }}\n\n[2] LEARNING PLAN (from Planner):\n{{ $('🧠 Planner Agent').first().json.output }}\n\n[3] IMPROVED EDUCATIONAL CONTENT (from Critic & Improver — use the ---IMPROVED_CONTENT--- section):\n{{ $('🔍 Critic & Improver Agent').first().json.output }}\n\n[4] SAFETY EVALUATION (from Safety Agent — JSON):\n{{ $json.output }}\n\nSynthesize these into the final response following your system instructions exactly.",
        "options": {
          "systemMessage": "You are the SYNTHESIZER AGENT — the final delivery agent of WiseAI Adaptive Learning Coach.\n\nYou receive four distinct inputs and compose ONE polished, learner-facing response.\n\nDELIVERY RULES:\n\n1. SAFETY GATE: Parse the safety JSON from input [4].\n   — If approved = false (score < 6): Do NOT deliver the content. Instead respond:\n     '❌ BLOCKED — Cette réponse a été bloquée par le système de sécurité WiseAI (score: X/10). Raison : [reviewer_note]. Veuillez reformuler votre question ou contacter votre formateur.'\n   — If approved = true: proceed with delivery.\n\n2. OPEN with the quality badge from the safety JSON (e.g. ✅ Safe & Approved — Score: 9/10)\n\n3. PERSONALIZED GREETING: In 1–2 sentences, acknowledge the learner's specific goal from input [1]. Be warm and encouraging.\n\n4. LEARNING ROADMAP SUMMARY: Extract and present the full learning plan from input [2] as a clean, numbered roadmap (module titles + estimated hours). Mark the starting module clearly.\n\n5. TODAY'S MODULE: Present ONLY the ---IMPROVED_CONTENT--- section from input [3] — formatted cleanly with headers, bullet points, and code blocks where appropriate. Do NOT use placeholders. Do NOT summarize — use the ACTUAL content.\n\n6. TRANSPARENCY NOTE: Add a small italicised footer:\n   '_Réponse générée par WiseAI Multi-Agent System (Planner → Expert → Critic → Safety → Synthesizer). Score de sécurité: X/10. Validé par WiseAI._'\n\n7. TONE: Match the learner's apparent language (respond in French if the request was in French, English if English). Be warm, professional, and encouraging — never condescending.\n\nCRITICAL: Never use placeholder text like [Topic], [Concept], or bracket variables. Always use the REAL content from your inputs.",
          "batching": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1152, 0],
      "id": "8713ad91-c828-4f13-ad51-78eb44508738",
      "name": "✨ Synthesizer Agent"
    },

    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [160, 256],
      "id": "329f45a0-e4d7-49b7-a1f4-afee1444e4d9",
      "name": "Simple Memory"
    },

    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-48, 224],
      "id": "40c5c03a-cf53-4b77-9afd-dc0c8a70d36b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "p2CJXewikmW8p422",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },

    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [368, 240],
      "id": "8a7150ce-cc02-4707-934f-5f4773c03dd3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "p2CJXewikmW8p422",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },

    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [608, 256],
      "id": "41b15df4-b078-48ba-8571-db6d7900b28a",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "p2CJXewikmW8p422",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },

    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [912, 240],
      "id": "84255ca7-8c24-4453-8743-ab6c08337edc",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "p2CJXewikmW8p422",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },

    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1136, 240],
      "id": "26913fdd-87ce-43e3-b72d-adb65775de30",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "p2CJXewikmW8p422",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],

  "pinData": {},

  "connections": {
    "When chat message received": {
      "main": [[{"node": "🧠 Planner Agent", "type": "main", "index": 0}]]
    },
    "🧠 Planner Agent": {
      "main": [[{"node": "🔬 Expert Agent", "type": "main", "index": 0}]]
    },
    "🔬 Expert Agent": {
      "main": [[{"node": "🔍 Critic & Improver Agent", "type": "main", "index": 0}]]
    },
    "🔍 Critic & Improver Agent": {
      "main": [[{"node": "🛡️ Safety Agent", "type": "main", "index": 0}]]
    },
    "🛡️ Safety Agent": {
      "main": [[{"node": "✨ Synthesizer Agent", "type": "main", "index": 0}]]
    },
    "Simple Memory": {
      "ai_memory": [[{"node": "🧠 Planner Agent", "type": "ai_memory", "index": 0}]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{"node": "🧠 Planner Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [[{"node": "🔬 Expert Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [[{"node": "🔍 Critic & Improver Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [[{"node": "🛡️ Safety Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [[{"node": "✨ Synthesizer Agent", "type": "ai_languageModel", "index": 0}]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "wiseai-v2-fixed-2026-03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "4VUwwDj38jzuXwV7",
  "tags": [{"name": "WiseAI"}, {"name": "v2-fixed"}, {"name": "responsible-ai"}]
}
